h3{
    text-align: center;
    padding: 5% 0% 3%;
}
.login{
    padding-bottom: 3%;
}
hr{
    border-style: inset;
}
.auth{
    padding: 1%;
}
.idpass{
    padding-top: 3%;
    padding-bottom: 3%;
}
.check{
    padding-top: 3%;
}
.c_box{
    margin-left: 3%;
}
a{
    text-decoration: none;
}
.container-fluid{
    background-color: rgb(234, 230, 230);
    padding: 3% 34%;
}